# Ignorar pastas relacionadas ao ambiente virtual
venv/
env/
__pycache__/
*.py[cod]

# Arquivos de log
*.log

# Pasta de configurações do banco de dados local (SQLite)
db.sqlite3

# Pasta de migrações (gerada automaticamente)
*/migrations/

# Arquivos estáticos coletados
staticfiles/

# Ignorar arquivos de cache do IDE
.idea/
.vscode/
*.swp
*~

# Arquivos temporários
*.tmp
*.bak
*.pid
*.seed
*.old

# Chave secreta e configurações locais (caso use um arquivo local_settings.py)
local_settings.py
.env

# Coleta de arquivos estáticos (se usar collectstatic)
static/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
