<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <title>Confirmar Exclusão</title>
</head>
<body>
    <div class="exclusao">
        <div class="confirmar-exclusao">
            <h1>Tem certeza que deseja excluir este registro?</h1>
            <form method="post">
                {% csrf_token %}
                <button class="excluir" type="submit">Sim, excluir</button>
                <a href="{% url 'listar_dados' %}">Cancelar</a>
            </form>
        <div/>
    </div>
</body>
</html>
